.app {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

header {
	background-color: #3a3b3c;
	padding: 1rem;
}

.app_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app_header > img {
	width: 80px;
	cursor: pointer;
}

.app_search {
	border-radius: 10px;
	max-height: 50px;
	max-width: 500px;
	outline: none;
	border: 1px solid rgb(100, 100, 100);
	background-color: transparent;
	padding: 0.5rem 1rem;
	color: white;
}
